div {
  border: 25px solid rgb(248, 246, 246); 
  display: inline-block; 
  min-width: 25em; 
  min-height: 30em;
  border-radius: 50%; 
  border-left-color: transparent; 
  border-right-color: transparent;
  border-bottom-color: transparent; 
}
div{

}
#red{
  border-top-color:#f00;

}
#orange{
  border-top-color:#ffa500;
  
}
#yellow{
  border-top-color:#ff0;
  
}
#green{
  border-top-color:#00bc3f;
  
}
#blue{
  border-top-color:#06f;
  
}
#indigo{
  border-top-color:#8a2be2;
  
}
#violet{
  border-top-color:#d300c9;
  
}
